<div *ngIf="error">{{error}}</div>
<div *ngIf="success">{{success}}</div>
    
<div id="theList">
  <h2>De Lijst</h2>
  <ul>
    <li *ngFor="let item of sports">{{item.model}} | {{item.price}} </li>
  </ul>
</div>
<div id="theForm">
  <h2>Het Formulier</h2>
  <form #f="ngForm" name="theForm" (submit)="addSport(f)">
    <div class="form-group">
      <label>Model</label>
      <input type="text"
            class="form-control"
            name="model"
            [(ngModel)]="sport.model"
            #sportModel="ngModel"
            required
            pattern="^[a-zA-Z ]+$">
      <span class="help-block danger" *ngIf="sportModel.errors?.['required'] && sportModel.touched">
        Het model naam is verplicht
      </span>
      <span class="help-block danger" *ngIf="sportModel.errors?.['pattern'] && sportModel.touched">
        Het model naam kan alleen a-z en A-Z bevatten
      </span>
    </div>
    <div class="form-group">
      <label>Merk</label>
      <input type="text"
            class="form-control"
            name="merk"
            [(ngModel)]="sport.merk"
            #sportMerk="ngModel"
            required
            pattern="^[a-zA-Z ]+$">
      <span class="help-block danger" *ngIf="sportModel.errors?.['required'] && sportModel.touched">
        Het merk naam is verplicht
      </span>
      <span class="help-block danger" *ngIf="sportModel.errors?.['pattern'] && sportModel.touched">
        Het merk naam kan alleen a-z en A-Z bevatten
      </span>
    </div>

    <div class="form-group">
      <label>Prijs</label>
      <input type="number"
            class="form-control"
            name="price"
            required
            [(ngModel)]="sport.price"
            #sportPrice="ngModel">
      <span class="help-block danger" *ngIf="sportPrice.errors?.['required'] && sportPrice.touched">
        De prijs is verplicht.
      </span>
    </div>

    <button
        class="btn btn-primary btn-sm"
        [disabled]="f.invalid">Toevoegen</button>
  </form>
</div>